@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Your access to the Error Logger has been revoked.</h1>
    <h2 class="text-danger">To regain access, please contact the Admin.</h2>
</hgroup>
