@{
    ViewBag.Title = "Contact";
}
<h2>Error Logger - Contact Us</h2>
<h3>Sandesh Ashok Naik</h3>
<h3>SUID: 394450563</h3>
<h3>CSE 686 - Internet Progrmaming: Final Project</h3>
<br />

<h4>Address:</h4>

<address>
    415 Clarendon St, Apt 2<br />
    Syracuse, NY 13210<br />
    <abbr title="Phone">P:</abbr>
    (315) 913-8154
</address>
<br />
<address>
    <strong>Mail ID:</strong>   <a href="mailto:sanaik@syr.edu">sanaik@syr.edu</a>
</address>